.App {
  font-family: sans-serif;
  text-align: center;
}
.header {
  display: flex;
  justify-content: center;
}

.board {
  display: grid;
  justify-content: center;
  width: 150px;
  margin: auto;
  margin-top: 30px;
}

.cellRow {
  display: inline-flex;
}

.cell {
  width: 60px;
  height: 60px;
  margin: 10px;
  justify-content: center;
  font: 200 bold;
  font-size: 15px;
}

.cellText {
  display: inline-block;
  line-height: 10px;
}
